.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_data
_i18n
_layouts
/assets
!_site/assets
_config.yml
dir_patch.rb
/404.html
!_site/404.html
Gemfile
Gemfile.lock
/index.html
!_site/index.html
/robots.txt
!_site/robots.txt